@import "variables";
@import "mixins";

.react-sliding-container {
  display: block;
  box-sizing: content-box;
  background-color: $background_main_color;
  position: relative;
}

@import "./components/arrow";
@import "./components/slide";
